.Login {
    width: 100vw;
    height: 100vh;
    /* background-color: lavender; */
  }
  
  body{
    margin: 0px;
    padding: 0px;
  }

/* ======================================== */
  /* PAGE*/
 
.page{
    /* border: solid; */
    background-image: url("../assets/Login_bkg.png");
    /* background-color: lavender; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }

